
body {
   max-width: 414px;
   margin: 0 auto;
   background-color: rgb(255, 213, 150);
}

a {
   text-decoration: none;
   color: black;
}

p {
   font-family: Caveat;
   font-weight: 800;
   font-size: 1.5rem;
}

.main__container {
   padding: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.card__container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.card__image img {
   width: 100%;
   border-radius: 50%;
}
