@font-face {
   font-family: 'open_sansitalic';
   src: url('./fonts/opensans-italic-webfont.woff2') format('woff2'),
        url('./fonts/opensans-italic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

body {
   
   background-color: #E0DFDF;
   font-family: 'open_sansitalic';
   
}

.main__container {

  margin: 20px auto;
  height: 740px;
  width: 340px;
  background-color: black;
  background-image: url(./img/main.png);
  background-repeat: no-repeat;
  background-size: 360px 740px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px black;

}


#mainDisplay {
   margin: 285px 0px 0px 120px;
}

.main-button {
   font-family: 'open_sansitalic';
   font-size: 13px;
   height: 25px;
   width: 125px;
   background-color: black;
   color: white;
   border: 0;
   border-radius: 50px;
   margin-bottom: 40px;
}

