* {
   text-decoration: none;
   color: black;
}

body {
   background-color: rgba(193, 75, 7, 0.74);
   font-family: 'Caveat', cursive;
}

h2 {
   color: black;
   font-size: 2rem;
   margin-bottom: 0px;
}

.main {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.group img:hover {
   width: 310px;
   transition: 0.5s;
}

.group {
   width: 300px;
   text-align: center;
}

.group img {
   width: 100%;
   border-radius: 50%;
}

.button {
   display: flex;
   align-items: center;
}

.button__arrow {
   width: 10%;
}
.button__arrow img {
   width: 100%;
}
.button__name {
   font-size: 2em;
}
