* {
   text-decoration: none;
}

body {
   background-color: rgba(193, 75, 7, 0.74);
   font-family: 'Caveat', cursive;
}

h2 {
   color: black;
   font-size: 2rem;
}

.main {
   display: flex;
   justify-content: space-around;
}

.group img:hover {
   width: 250px;
   transition: 0.5s;
}

.group {
   width: 200px;
   text-align: center;
}

.group img {
   width: 200px;
   border-radius: 50%;
}

/*------------------------------------------------------------------*/
h2 {
   text-align: center;
}


.other {
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
}
.card img:hover {
   width: 350px;
   transition: 0.5s;
}
.card {
   width: 300px;
}
.card img {
   width: 100%;
   border-radius: 50%;
}

@media (max-width: 414px) {
   .main {
      flex-direction: column;
      align-items: center;
   }
   .other {
      flex-direction: column;
   }
}