a {
   text-decoration: none;
   color: black;
}


.button {
   display: flex;
   align-items: center;
   margin-top: 50px;
}

.button__arrow {
   width: 10%;
}
.button__arrow img {
   width: 100%;
}
.button__name {
   font-size: 2em;
}

h2 {
   font-size: 2rem;
   margin-top: 50px;
}

li {
   font-size: 1.5rem;
   margin: 10px;
}