a {
   text-decoration: none;
   color: black;
}

body {
   max-width: 414px;
   margin: 0 auto;
   background-color: rgba(216, 131, 81, 0.74);
   font-family: 'Caveat', cursive;
}

h2 {
   color: black;
   font-size: 1.5rem;
   margin-bottom: 0px;
}

.main {
   padding: 30px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
}

.group {
   width: 125px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.group img {
   width: 100%;
   border-radius: 50%;
}

/*------------------------------------------------------------------*/

h2 {
   text-align: center;
}

hr {
   border: 1px solid grey;
}

.other {
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
}
.card img:hover {
   width: 350px;
   transition: 0.1s;
}
.card {
   width: 300px;
}
.card img {
   width: 100%;
   border-radius: 50%;
}
.main-down {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
}

.button {
   display: flex;
   align-items: center;
   margin-top: 50px;
}

.button__arrow {
   width: 10%;
}
.button__arrow img {
   width: 100%;
}
.button__name {
   font-size: 2em;
}